@font-face {
    font-family: "corbel";
    src: url("../assets/fonts/CORBEL.TTF")  format("truetype");
}

@font-face {
    font-family: "helvetica";
    src: url("../assets/fonts/Helvetica-regular.ttf")  format("truetype");
}

@font-face {
    font-family: "gillsans";
    src: url("../assets/fonts/gill-sans-medium.otf")  format("opentype");
}

@font-face {
    font-family: "calibri";
    src: url("../assets/fonts/Calibri-Bold.TTF")  format("truetype");
}

@font-face {
    font-family: "rufina";
    src: url("../assets/fonts/rufina-regular.ttf")  format("truetype");
}

@font-face {
    font-family: "sintony";
    src: url("../assets/fonts/sintony-regular.ttf")  format("truetype");
}

@font-face {
    font-family: "sintonybold";
    src: url("../assets/fonts/sintony-bold.ttf")  format("truetype");
}