$color-light-orange: #e8683b;
$color-dark-orange: #ca3924;
$color-btn: #ffffff;
$color-menu: #575757;
$color-menu-hover: #e44b37;
$color-menu-bg: #f6f6f6;
$color-border: #eeeeee;
$color-text: #848484;
$margin-bottom: 35px;
$transition-default: .3s all linear;
$color-officer: #101010;